numpy
opencv-python-headless
matplotlib
scikit-learn
pandas
seaborn
pytest
# tensorboard-plugin-customizable-plots
tqdm
plotly
gif
moviepy
ffmpeg-python
ray[all]==2.39.0
optuna
gymnasium
wandb
flappy-bird-gymnasium==0.3.0
